version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - run: mkdir build;sudo mkdir /build;sudo chmod +666 /build;
      - run:
          name: Get Dependencies
          command: GO111MODULE=on go get -v -d ./...
      - run:
          name: Build backsrv
          command: cd build;GO111MODULE=on GOOS=linux go build -v -o backsrv ../cmd/backsrv/
      - run:
          name: Build backsrv (ARM)
          command: cd build;GO111MODULE=on GOARCH=arm GOOS=linux go build -v -o backsrv_arm ../cmd/backsrv/
      - run:
          name: Build simplecli
          command: cd build;GO111MODULE=on GOOS=linux go build -v -o simplecli ../cmd/simplecli
      - run:
          name: Make Installation Scripts Executable
          command: sudo chmod -R +x ./.circleci/*.sh
      - run:
          name: Install Arduino Toolchain
          command: ./.circleci/install_arduino_toolchain.sh
      - run:
          name: Build backend_arduino
          command: ./.circleci/build_backend_arduino.sh
      - run:
          name: Collect Binary Files
          command: cd build;cp backend_arduino.* simplecli backsrv backsrv_arm /build
      - run:
          name: Pack Up Binary Files
          command: tar -cf build.tar /build;mv build.tar /build
      - store_artifacts:
          path: /build/build.tar